use master
go

drop database if exists LeaveManagements
create database LeaveManagements
go

use LeaveManagements
go



drop table if exists Employees
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY IDENTITY(1,1),
    Name NVARCHAR(100) NOT NULL,
    Email NVARCHAR(100) NOT NULL,
	Image NVARCHAR(250),
    Password NVARCHAR(100) NOT NULL,
    Role NVARCHAR(50) NOT NULL CHECK (Role IN ('Employee', 'Manager')),
	Status bit, 
);
go


drop table if exists LeaveRequests
CREATE TABLE LeaveRequests (
    RequestID INT PRIMARY KEY IDENTITY(1,1),
    EmployeeID INT FOREIGN KEY REFERENCES Employees(EmployeeID),
    LeaveType NVARCHAR(50) NOT NULL,
    StartDate DATE NOT NULL,
    EndDate DATE NOT NULL,
    Reason NVARCHAR(255),
    StatusLR NVARCHAR(50) NOT NULL CHECK (StatusLR IN ('Pending', 'Approved', 'Rejected','Watching')),
    ApproverID INT FOREIGN KEY REFERENCES Employees(EmployeeID),
    SubmissionDate DATETIME NOT NULL DEFAULT GETDATE(),
	Status bit, 
);
go


drop table if exists LeaveHistory
CREATE TABLE LeaveHistory (
    HistoryID INT PRIMARY KEY IDENTITY(1,1),
    EmployeeID INT FOREIGN KEY REFERENCES Employees(EmployeeID),
    LeaveType NVARCHAR(50) NOT NULL,
    StartDate DATE NOT NULL,
    EndDate DATE NOT NULL,
    Reason NVARCHAR(255),
    ApprovalStatus NVARCHAR(50) NOT NULL CHECK (ApprovalStatus IN ('Pending', 'Approved', 'Rejected')),
    ApproverID INT FOREIGN KEY REFERENCES Employees(EmployeeID),
    SubmissionDate DATETIME NOT NULL DEFAULT GETDATE(),
    ApprovalDate DATETIME,
	Status bit, 
);
go

create or alter proc selectEmployees
	@EmployeeID INT = NULL

as
begin
	IF @EmployeeID IS NULL
        SELECT * FROM Employees;
    ELSE
        SELECT * FROM Employees WHERE EmployeeID = @EmployeeID;

end
go



create or alter proc selectLeaveRequests
    @RequestID INT = NULL,
    @EmployeeID INT = NULL
AS
BEGIN
    IF @RequestID IS NOT NULL
        SELECT * FROM LeaveRequests WHERE RequestID = @RequestID;
    ELSE IF @EmployeeID IS NOT NULL
        SELECT * FROM LeaveRequests WHERE EmployeeID = @EmployeeID;
    ELSE
        SELECT * FROM LeaveRequests;
END
go

create or alter proc selectLeaveHistory
    @HistoryID INT = NULL,
    @EmployeeID INT = NULL
AS
BEGIN
    IF @HistoryID IS NOT NULL
        SELECT * FROM LeaveHistory WHERE HistoryID = @HistoryID;
    ELSE IF @EmployeeID IS NOT NULL
        SELECT * FROM LeaveHistory WHERE EmployeeID = @EmployeeID;
    ELSE
        SELECT * FROM LeaveHistory;
END
go



go




go